<!-- <button (click)="handleClick()">Parent button</button>
Parent Value = {{value}}

<app-child [value]="value"></app-child> -->
<!-- <app-track-by-demo></app-track-by-demo> -->

<!-- <app-observables-demo></app-observables-demo> -->

<!-- <app-subject-demo></app-subject-demo> -->


<button (click)="GlobalIncrement()">Increment</button>
{{value}}
<fieldset>
  <app-order></app-order>
</fieldset>
<fieldset>
  <app-cart></app-cart>
</fieldset>

<!-- <app-observable-combine-and-fork></app-observable-combine-and-fork> -->
